body{
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#app, #application, #apptable{
	width: 500px;
	margin: auto;
	margin-top: 10%;
	font-family: 'Roboto', sans-serif;
}

#application{
	background: #2c3e50;
}

#apptable > table{
	background-color: #eeefeb;
	width: 100%;
	border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 5px;
}

#buttons{
	height: 80px;
	background: #2c3e50;
}

#buttons > button{
	width: 49%;
	float: left;
	color: white;
	text-align: center;
	height: 70%;
	margin: 0;
	border: none;
	background: #2c3e50;
}

#buttons > button:hover{
	background: #f1c40f;
	color: #2c3e50;
	cursor: pointer;
}

#apptable > #buttons{
	background-color: transparent;
	height: 40px;
	width: 80px;
}

#apptable > #buttons > button{
	margin-top: 20px;
	height: 100%;
	width: 100%;
	border-radius: 20px;
}

#login{
	width: 100%;
	height: 150px;
	background: #2c3e50;
}

#uname, #password{
	margin-top: 10px;
	margin-left: 125px;
	width: 250px;
}

th {
	text-align: center;
	background: #bbb9b9;
}

tr:hover{
	background: #f1c40f;
	color: #2c3e50;
	cursor: pointer;
}